@import url(variablesDetail.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* background img specified in each body to chage iimages*/

.body1{
    margin: 0;
    padding: 0;
    background-image: url(../storage/img/PA-Muse.jpg);
    background-size: contain; 
    background-position: center top; 
    background-repeat: no-repeat; 
    height: 100vh; 
}


.body2{
    margin: 0;
    padding: 0;
    background-image: url(../storage/img/OneDirectionback.jpg);
    background-size: contain; 
    background-position: center top; 
    background-repeat: no-repeat; 
    height: 100vh; 
}

.body3{
    margin: 0;
    padding: 0;
    background-image: url(../storage/img/coldplaybackgim.png);
    background-size: contain; 
    background-position: center top; 
    background-repeat: no-repeat; 
    height: 100vh; 
}
.body4{
    margin: 0;
    padding: 0;
    background-image: url(../storage/img/PnateraBackimg.jpg);
    background-size: contain; 
    background-position: center top; 
    background-repeat: no-repeat; 
    height: 100vh; 
}


/* go back button */

header{

    display: flex;
    justify-content: space-between;
    padding: 30px;
}

/* section info  middle card */

.section-inf{
    width: 346px;
    height: 140px;
    background: var(--white);
    border-radius: 14px;
    justify-self: center;
    margin-top: 170px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.134);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/*Efecto*/
.modalmask {
    position: fixed;
    font-family: Arial, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalmask:target {
    opacity:1;
    pointer-events: auto;
}

/*Formato de la ventana*/
.modalbox{
    width: 400px;
    position: relative;
    padding: 5px 20px 13px 20px;
    background: #fff;
    border-radius:20px;
    -webkit-transition: all 500ms ease-in;
    -moz-transition: all 500ms ease-in;
    transition: all 500ms ease-in;

    h2{
        font-family: "Inter-Medium";
        font-size: 14px;
        color: var(--black);
    }
    p{
        font-family: "DMSans-Medium";
        font-size: 12px;
        color: var(--gray);
    }
}

/*Movimientos*/
.movedown {
    margin: 0 auto;
}
.rotate {
    margin: 10% auto;
    -webkit-transform: scale(-5,-5);
    transform: scale(-5,-5);
}
.resize {
    margin: 10% auto;
    width:0;
    height:0;
 
}
.modalmask:target .movedown{       
    margin:10% auto;
}
.modalmask:target .rotate{     
    transform: rotate(360deg) scale(1,1);
        -webkit-transform: rotate(360deg) scale(1,1);
}
 
.modalmask:target .resize{
    width:40px;
    height:20px;
}

/*Boton de cerrar*/
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 10px;
    width: 30px;
    text-decoration: none;
    font-weight: bold;
    border-radius:30px;
    
}
 
.close:active {
    background: #cfcfcf;
    color:#222;
}


.div-textt{
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-left: 20px;
    h3{
        font-family: "Inter-SemiBold";
        font-size: 14px;
        color: var(--black);
    }
    span{
        color: var(--purple);
    }

}

.div-text-gel, .div-text-nov{
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-family: "Inter-Regular";
    font-size: 12px;
    color: var(--black);
    img{
        opacity: 50%;
    }

}

.div-participantsss{
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-left: 20px;
    p{
        font-family: "Inter-Medium";
        font-size: 12px;
        color: var(--black);
        padding: 6.5px;
    }
}

/* section description */

.section-description{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 346px;

    justify-self: center;
    margin-top: 28px;

    h1{
        font-family: "Inter-Medium";
        font-size: 14px;
        color: var(--black);
    }
    p{
        font-family: "DMSans-Medium";
        font-size: 12px;
        color: var(--gray);
    }
    span{
        color: var(--blue);
    }
    a{
        text-decoration: none;
    }
}

/* section location */

.section-venue{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 346px;
    justify-self: center;
    margin-top: 28px;

    h1{
        font-family: "Inter-Medium";
        font-size: 14px;
        color: var(--black);
    }
    img{
        border-radius: 15px;
    }
}

/* footer */

footer{
    width: 100%;
    height: 70px;
    background: var(--white);
    position: sticky;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.div-footer-txt{
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-family: "Inter-Regular";
    color: var(--black);
    h3{
        font-size: 10px;
    }
    h1{
        font-size: 16px;
    }
}

.div-footer-buy{
    background: var(--purple);
    width: 110px;
    height: 34px;
    border-radius: 20px;

    h2{
        color: var(--white);
        font-family: "Inter-Medium";
        font-size: 14px;
        padding: 8px;
        justify-self: center;
    }
    a{
        text-decoration: none;
    }
}