:root{
    --linear: linear-gradient(165deg, rgba(145,181,253,1) 0%, rgba(240,221,255,1) 100%);
    --color-2: white;

}
@font-face {
    font-family: "example";
    src: url(/storage/font/example.ttf);
}
